<!DOCTYPE html>
<html dir="rtl">
    <head>
        <title>מחשבון - דף הבית</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <h2>ברוכים הבאים אל המחשבון:</h2>
        <div class="intro">
            ברוכים הבאים אל פרוייקט המחשבון.<br>
            באתר זה תוכלו לבצע את כל הפעולות הבסיסיות של מחשבון, כדי להבצע פעולה מסויימת ליחצו על הפעולה ותופנו לדף המתאים.<br>
            <u>פעולות:</u>
            <br>
            <a href="add">חיבור</a>
            <br>
            <a href="subtract">חיסור</a>
            <br>
            <a href="multi">כפל</a>
            <br>
            <a href="div">חילוק</a>
        </div>
    </body>
</html>