<!DOCTYPE html>
<html dir="rtl">
    <head>
        <title>מחשבון - כפל</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <h2>מחשבון</h2>
        <h3>פעולת הכפל</h3>
        <form action="/multi" method ="post">
            <input type="text"  class="input" name="n1" placeholder="הכנס את מספר ראשון"><br>
            <br>
            <input type="text"  class="input" name="n2" placeholder="הכנס את המספר השני"><br>
            <br>
            <button type="submit"  class="submit" name="Submit">חשב!</button>
        </form>
        <br>
        <a class="back" href="/">חזרה אל הדף הראשי</a>
    </body>
</html>