<!DOCTYPE html>
<html dir="rtl">
    <head>
        <title>מחשבון - כפל</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <h2>מחשבון</h2>
        <h3>תוצאה:</h3>
        <p class="result_form">תוצאת החישוב של המספרים היא:</p>
        <p class="result_score"><%= text || "קיימת שגיאה בחישוב" %> </p>
        <a class="back" href="/">חזרה אל הדף הראשי</a>
    </body>
</html>